/* Table of content 
  1. General 
  2. Header
  3. Footer
  4. Loading
  5. Measure component
 */

/* 1. General */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  height: 100%;
}

.picture {
  height: 30px;
  padding: 0 30px;
}

/* initialize button */

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.data-info {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 0 5px;
  color: #2bb5fd;
}

.button:hover {
  text-shadow: 0 0 1px rgba(43, 181, 253, 0.5);
}

/* 2. Header */

.header {
  position: fixed;
  width: 100%;
  background-color: #2bb5fd;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0px 1px 15px #888888;
}

.margin-header {
  margin-top: 100px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* 3. Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 5px 0;
  justify-content: space-around;
  background-color: #2bb5fd;
  color: white;
}

.block {
  display: block;
}

/* 4. Loading */

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading-item {
  display: flex;
  margin: 5px 1%;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: #2bb5fd;
  animation: loading-spin infinite 1s linear;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 5. Measure component */

.measure-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 0 5%;
}

.measureCard {
  border: 2px solid #cccccc;
  border-radius: 2px;
  margin: 0.3rem;
  padding: 15px 10px;
  flex-basis: 30%;
  text-align: left;
}

.title {
  font-size: 1.2rem;
  padding: 0 0 5px;
}

.rate {
  padding: 5px 0 0;
}

.rate-number {
  font-size: 1.5rem;
}

.experienceColor {
  background-color: rgba(255, 220, 40, 0.1);
}

.productColor {
  background-color: rgba(251, 0, 74, 0.1);
}

.recommendColor {
  background-color: rgba(32, 243, 181, 0.1);
}

.serviceColor {
  background-color: rgba(173, 99, 255, 0.1);
}

.valueColor {
  background-color: rgba(253, 126, 9, 0.1);
}

@media all and (max-width: 800px) {
  .measure-body {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 2%;
  }
  .measureCard {
    border: 0px;
    border-bottom: 1px solid #cccccc;
    flex-basis: auto;
    background-color: initial;
  }
  .data-info {
    justify-content: center;
  }
}